.background-image {
    background-image: image("/public/pic/baseball-field.jpg");
    background-color: #cccccc;
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}