.image {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {

    background-color: black;
    color: red;
    margin: 15px;
}

.loading3 {
    background: url('https://i.imgur.com/U01jwPN.gif') no-repeat center center;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}