.background {
    background: url("https://media.9news.com/assets/KUSA/images/06d2856a-197e-44b2-868c-2460a1d4d3a6/06d2856a-197e-44b2-868c-2460a1d4d3a6_1140x641.jpg");
    background-color: #cccccc;
    height: 950px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}