.image {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {

    background-color: black;
    color: red;
    margin-top: 15px;
    margin-bottom: 15px;
}

.loading {
    background: url('https://media1.giphy.com/media/PeQX1v67y64ww/source.gif') no-repeat center center;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}