.image {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {

    background-color: black;
    color: red;
    margin-top: 15px;
    margin-bottom: 15px;
}